.menu{
    height: 94px;
flex-shrink: 0;
background: #292929;
}

.menu-list{
    display: flex;
    padding: 26px 0 25px 0;
    width: 828px;
    justify-content: space-between;
}


.menu-list-item-link{
    color: #FFF;
font-size: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
}